.App {
  font-family: sans-serif;
  text-align: center;
}

.game {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.board {
  width: 50%;
  margin: 1em;
  background-color: azure;
}

.cell {
  height: 50px;
  border: 1px solid;
  transition: background-color 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  background-color: aquamarine;
}
